{% extends "base.html" %}
{% block body %}
{% block navbar %}
<!-- Keep this block empty to prevent the base navbar from rendering -->
{% endblock %}
<style>
  /* No margin or padding for the home page */
  body.home-page {
    margin: 0;
    padding: 0;
  }

  /* Add margin for other pages to account for navbar height */
  body.other-page {
    margin-top: 56px; /* Adjust this value based on your navbar height */
  }
  .product-image-container {
    width: 100%;  /* Set to your desired width */
    height: 300px; /* Set to your desired height */
    overflow: hidden; /* Ensure no overflow */
    display: flex; /* Flexbox to center image */
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
  }

  .product-image {
    width: 100%; /* Make sure image takes full width */
    height: 100%; /* Make sure image takes full height */
    object-fit: cover; /* Ensure the image covers the container */
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% if brand_logo %}
        <img src="{{ brand_logo }}" alt="{{ brand_name }}" height="90" class="d-inline-block align-top">
      {% else %}
        Brand Name
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopall' %}">Shop All</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop By Category
          </a>
          <ul class="dropdown-menu">
            {% for category in categories %}
            <li><a class="dropdown-item" href="{% url 'category' category.name %}">{{category.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bundles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'cart' %}" class="position-relative text-decoration-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="color: black;">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg>
      <span id="cart-count" class="badge bg-secondary position-absolute top-0 start-100 translate-middle">{{cart_count}}</span>
    </a>
  </div>
</nav>
<div class="{% if request.resolver_match.url_name == 'index' %}home-page{% else %}other-page{% endif %}">
  <!-- Modal -->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel and Content -->
  <div id="carouselExample" class="carousel slide mb-4 {% if request.resolver_match.url_name == 'index' %}home-carousel{% endif %}" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ carousel_image }}" class="d-block w-100" alt="...">
        <div class="carousel-content bg-body-tertiary p-5 rounded-5">
          <h1 style="color: black;">{{ carousel_brand_name }}</h1>
          <p style="color: black;">{{ carousel_description }}</p>
          <a href="{% url "shopall" %}" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="carousel-rsp-content bg-body-tertiary p-5 rounded-bottom d-none text-center">
    <h1 style="color: black;">Blissful</h1>
    <p style="color: black;">More Than Skincare, It's a Lifestyle of Radiance</p>
    <a href="{% url "shopall" %}" class="btn btn-primary d-inline-block">Shop Now</a>
  </div> -->

  <div class="container d-flex justify-content-center align-items-center flex-column mb-4">
    <h1 class="text-center">Welcome to Our Store</h1>
    <p class="text-center">Your one-stop solution for everything</p>
    <a href="{% url "shopall" %}" class="btn btn-primary">Shop Now</a>
  </div>

  <div class="container mt-4">
    <h2 class="text-center">Featured Products</h2>
    <div class="row">
      {% for product in featured_products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="{% url 'product_details' product.id %}" class="text-decoration-none">
          <div class="card m-auto shadow-lg text-center" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center align-items-center">
              <img src="{{ product.image.url }}" class="card-img-top image-hover" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">Rs {{ product.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      {% for product in main_products %}
      <div class="col-lg-8 mb-4 d-flex justify-content-center product-image-container">
        <img src="{{ product.image.url }}" class="img-fluid product-image" alt="Product Image">
      </div>
  
      <div class="col-lg-4 mb-4 d-flex flex-column justify-content-center align-items-center">
        <h2>{{ product.title }}</h2>
        <p class="fw-medium text-secondary">PKR {{ product.price }}</p>
        <p class="fw-light text-secondary"><a style="text-decoration: underline; color: black;" href="#">shipping </a>calculated at checkout</p>
        <form class="d-flex justify-content-center align-items-center" id="add-to-cart-form" data-product-id="{{ product.id }}" action="{% url 'add_to_cart' product.id %}">
          {% csrf_token %}
          <button type="submit" id="add-to-cart-btn" class="btn btn-info" style="width: 18rem;">Add to Cart</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container mt-2 mb-2">
    <h1 class="text-center m-4">Subscribe to our Emails</h1>
    <form class="d-flex justify-content-center" action="/subscribe" method="post">
      <input style="width: 20rem; border: 1px solid black; border-radius: 15px;" type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
    </form>
  </div>

  <hr class="m-4">

</div>

<script>
  document.getElementById("quantitySlider").addEventListener("input", function() {
    var quantity = document.getElementById("quantity");
    var sliderValue = document.getElementById("quantitySlider").value;
    quantity.textContent = sliderValue;
  });
</script>
{% endblock %}
